</head>
    <style>
        body {
            //background-color: rgba(0,0,0,0) !important;
            height: 100%;
            overflow-y: hidden;
        }
        <%= File.read('web/css/modern.css') %>
        <%= File.read('web/css/modern-responsive.css') %>
        <%= File.read('web/css/theme-dark.css') %>
    </style>
</head>
<body class="metrouicss">
    <div class="page secondary fixed-header">
        <div class="page-header ">
            <div class="page-header-content">
                <div class="user-login">
                    <a href="#" onClick="execRuby('Process::exit')">
                        <div class="name">
                            <% name_bits = get_name_bits %>
                            <span class="first-name"><%= name_bits[0] %></span>
                            <span class="last-name"><%= name_bits[1] %></span>
                        </div>
                        <div class="avatar">
                            <img src="<%= Gtk::IconTheme.get_default.lookup_icon('stock_person', 64, 0).get_filename.read_string %>"/>
                        </div>
                    </a>
                </div>
                
                <h1 class="fg-color-white">Start</h1>
            </div>
        </div>

        <div class="page-region">
            <div class="page-region-content tiles">
            </div>
        </div>
    </div>
</body>
<script>
    window.app_data = <%= MultiJson.dump($app_info) %>;
    <%= File.read('web/jquery.min.js') %>
    <%= File.read('web/javascript/jquery.mousewheel.min.js') %>
    <%= File.read('web/javascript/start-menu.js') %>
    <%= File.read('web/core.js') %>
    $.each(app_data,function(index, item){
        var group_str = item.Name.slice(0,1).toLowerCase();
        var tile_group = $('.tile-group.'+group_str);
        if(tile_group.length == 0){
            tile_group = $('<div class="tile-group tile-drag '+group_str+'"></div>').appendTo('.page-region-content');
        }
        $('<div class="tile icon" onClick="execProg(\''+item.Exec+'\')"><div class="tile-content"><img src="'+item.Icon+'"/></div><div class="brand"><span class="name">'+item.Name+'</span></div></div>').appendTo(tile_group);
    });
    $(function(){
        $.StartMenu();
    });
    $(document).resize();
</script>
