</head>
    <style>
        body {
            background-color: #111111 !important;
            height: 100%;
            overflow-y: hidden;
        }
        .startbutton {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        .application_well {
            padding-left: 10px;
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom: 113px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .application_well::-webkit-scrollbar {
            width: 0px;
        }
        .application {
            margin-top: 10px;
            width: 169px;
            height: 93px;
            background-color: white;
            border: 1px solid #555555;
            cursor: pointer;
        }
        .startbutton:hover, .application:hover {
            outline: 3px #3a3a3a solid;
        }
        .application > div {
            position: relative;
            height: 29px;
            top: 62px;
            width:100%;
            padding: 6px;
            background-color: rgba(26,26,26,0.9);
            color: white;
            font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
            font-size: 10pt !important;
            font-weight: 500 !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        <%= File.read('web/css/modern.css') %>
        <%= File.read('web/css/modern-responsive.css') %>
        <%= File.read('web/css/theme-dark.css') %>
    </style>
</head>
<body class="metrouicss">
    <div class="application_well">
        <% WMCtrl.instance.windows.each do |win| 
            if win[:desktop]>=0 %>
                <div class="application" href="#" data-wid=<%= win[:id] %> style="background-image: url('http://localhost:38474/snapshot/<%= win[:id] %>');">
                    <div>
                        <%= win[:title] %>
                    </div>
                </div>
        <%  end
        end %>
    </div>
    <a class="startbutton" href="#">
        <img src="images/startbutton.png"></img>
    </a>
</body>
<script>
    window.app_data = <%= MultiJson.dump($app_info) %>;
    <%= File.read('web/jquery.min.js') %>
    <%= File.read('web/core.js') %>
    $(".startbutton").click(function(e){
        execRuby("$startmenu = StartMenu.new; $applicationswitcher.destroy; $applicationswitcher = nil", function(){});
    });
    $(".application").click(function(e){
        data = $(this).data().wid;
        console.log(data);
        execRuby("WMCtrl.instance.action_window("+data+", :activate); $applicationswitcher.destroy; $applicationswitcher = nil",function(){});
    });
</script>
