</head>
    <style>
        body {
            background-color: #111111 !important;
            height: 100%;
            overflow-y: hidden;
        }
        .startbutton {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        .application {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 169px;
            height: 93px;
            background-color: white;
            border: 1px solid #555555;
            cursor: pointer;
        }
        .application > div {
            position: relative;
            height: 29px;
            top: 62px;
            width:100%;
            padding: 6px;
            background-color: rgba(26,26,26,0.9);
            color: white;
            font-family: 'Segoe UI Semibold', 'Open Sans', Verdana, Arial, Helvetica, sans-serif !important;
            font-size: 10pt !important;
            font-weight: 500 !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        <%= File.read('web/css/modern.css') %>
        <%= File.read('web/css/modern-responsive.css') %>
        <%= File.read('web/css/theme-dark.css') %>
    </style>
</head>
<body class="metrouicss">
    <% `rm -rf web/images/tmp/*` 
    WMCtrl.instance.windows(desktop:0).each do |win| 
        `xwd -display $DISPLAY -id #{win[:id]}|convert -thumbnail 167x93 xwd:- web/images/tmp/#{win[:id]}.png`
        
    %>
        <div class="application" href="#" data-wid=<%= win[:id] %> style="background-image: url('images/tmp/<%= win[:id]%>.png');">
            <div>
                <%= win[:title] %>
            </div>
        </div>
    <% end %>
    <a class="startbutton" href="#">
        <img src="images/startbutton.png"></img>
    </a>
</body>
<script>
    window.app_data = <%= MultiJson.dump($app_info) %>;
    <%= File.read('web/jquery.min.js') %>
    <%= File.read('web/core.js') %>
    $(".startbutton").click(function(e){
        execRuby("$startmenu = StartMenu.new; $applicationswitcher.destroy; $applicationswitcher = nil", function(){});
    });
    $(".application").click(function(e){
        data = $(this).data().wid;
        console.log(data);
        execRuby("WMCtrl.instance.action_window("+data+", :activate); Process::exit",function(){});
    });
</script>
